{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="col-sm-4 col-md-4">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/insta_logo_30px.png' %}" alt="Instagram logo">
                </a>
            </div>
            <div class="col-sm-4 col-md-4">
                <form class="d-flex" role="search" action="{% url 'search_results' %}">
                    <div class="input-group">
                        <input class="form-control me-2" type="text" placeholder="Search username" aria-label="Search" name="username">
                        <button style="text-decoration:none; border-radius: 5px; background: black; color:aliceblue" type="submit"><i class=" material-icons ">search</i></button>
                    </div>
                </form>
            </div>
        </div>
    </nav>
    <hr>
</body>

</html>